snippet ce "Chemical Equation" i
\ce{${1:${VISUAL}}}$0
endsnippet

snippet cf "Chem fig" i
\chemfig{$1}$0
endsnippet

snippet cl "Chem lewis" i
\Lewis{$1,$2}$0
endsnippet

snippet chb "Chem Hydrogen Bond" iA
[,,,,thick,dotted]
endsnippet
