snippet int "Regular Integral"
\int_{$1}^{$2} { $3 } \:dx
endsnippet

snippet iint "Inline integral"
$\int_{$1}^{$2} { $3 } \:dx$
endsnippet

snippet eq "Equation"
$$$0$$
endsnippet

snippet ieq "Inline Equation"
$$0$
endsnippet

#Fracts
snippet fr "Fraction"
\frac{$1}{$2}
endsnippet

snippet x "\times"
\times 
endsnippet

snippet e "x 10^{..}"
\times 10^{$1} $0
endsnippet

snippet nt "Normal Text (in math mode)"
\text{$1}$0
endsnippet

